{% extends 'base.html' %}
{% load static %}
{% block title %}{{ article.title }}{% endblock %}
{% block header %}
    <header class="intro-header" style="background-image: url('{% static 'img/post-bg.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ article.title }}</h1>
                        <span class="meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{ article.body }}
                </div>
            </div>
        </div>
    </article>
{% endblock %}